.hello-message {
    margin-top: 30px;
    font-size: x-large;
    font-weight: 600;
}

.welcome-message {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: xx-large;
    font-weight: 600;
}

.segment-message {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: large;
    font-weight: 500;
}

.logo-image {
    margin-top: 30px;
}